/*
Bleu #0073a2
Jaune #ffac00
Gris #63696a
*/

a{
    text-decoration: none;
    color: #0073a2;
}

a:hover{
    color: #ffac00;
}

h1{
    color: #ffac00;
    font-size: 2em;
}

html{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1%;
}

.img400px{
    height: 400px;
}

#retour_accueil{
    border: 3px dotted;
    border-radius: 100%;
    padding: 10px;
}

#titre{
    padding-left: 5%;
    margin: 0;
}

#titre_bouton{
    display: flex;
    position: sticky;
    top: 1%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(99, 105, 106, 0.5);
    font-size: 1.1em;
    align-items: center;
}

#titre_bouton:hover{
    background-color: rgba(99, 105, 106, 0.9);
}
