html{
    background-color:#d6e0ff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin:0;
}

#menu
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    background-color: #00365c;   /*kouleur texte bando*/
    align-items: center;
    height: 50px;
}

#liste_deroulante
{
    width: 150px;
    font-size: 20px;
    text-align: left;
}

#menu ul
{
    margin: 0px;
    padding:0px;
    text-decoration:none;   
    z-index: 1000;
    margin-left: 2%;
    margin-right: 2%;
}

#menu li
{
    list-style:none;
    float:left;
    position:relative;
    display:inline-block;
}

#menu ul li
{
    display:inherit;
}

#menu ul li a
{
    color: #e3e5e8; /*kouleur texte bando*/
    text-decoration:none;
    width:250px;
    height:30px;
    display:block;
    text-align:center;
}

#menu ul ul
{
    position:absolute;
    top:30px;
    display: none;
}

#menu ul li:hover ul
{
    left:auto;
    text-decoration:none;
    display: block;
    background-color: #c3d6e3;
}


#menu ul ul li
{
    background-color:#004f86;
}

#menu ul ul li a
{
    font-size:20px;
}
#favicon
{
    width:50px;
}
.separation
{
    height: 80px;
    background-color: #c7d5ff;
}

.ligne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center; 
    background-color:#afbfef;
}

.element1{
    width:50%;
    text-align:center;
}

.element2{
    width:50%; 
    display:flex;
    justify-content: space-between;
}

.imagemenu{
    margin: auto;
    width:80%; 
}

    
