html{
    background-color:#d6e0ff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

body{
    margin:0;
    background-color:white;
}

#menu
{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    background-color: #072c8a;
    align-items: center;
    height: 50px;
}

#liste_deroulante
{
    width: 150px;
    font-size: 20px;
    text-align: left;
}

#menu ul
{
    margin: 0px;
    padding:0px;
    text-decoration:none;
    color: #e3e5e8;
    margin-left: 2%;
    margin-right: 2%;
}

#menu li
{
    list-style:none;
    float:left;
    position:relative;
}

#menu ul li a
{
    color:#FFF;
    text-decoration:none;
    width:250px;
    height:30px;
    display:block;
    text-align:center;
    border:1px #022D57;
    border-style: none solid;
}

#menu ul ul
{
    position:absolute;
    top:30px;
    display: none;
}

#menu ul li:hover ul
{
    display: block;
    background-color: #404dff;
}

#favicon
{
    width:50px;
}
.separation
{
    height: 50px;
    background-color: cornflowerblue;
}

