a{
    text-decoration: none;
    color: #70cdde;
}

a:hover{
    color: #13547c;
}

h1{
    color: #00365c;
    text-align: center;
    font-size: 1.8em;
    font-family: Arial, serif;
}

html{
    background: #d6e0ff;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

li{
    color: #28a6be;
    font-family: Calibri, sans-serif;
    font-size: 1.3em;
    text-align: justify;
}

.img400px{
    height: 400px;
}

.site_officiel{
    text-align: center;
    font-size: 1.35em;
    font-family: Arial, serif;
}

#presentation_generale{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#retour_accueil{
    background-color: #bfe4eb;
    opacity: 70%;
    padding: 1%;
    margin: 1%;
    border-radius: 35%;
    position: fixed;
    align-items: flex-start;
}

#retour_accueil:hover{
    background-color: #99cfd9;
    opacity: 100%;
}

#titre{
    align-items: flex-end;
    border: 3px double #00365c;
    padding: 3%;
}

#titre_bouton{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1%;
}


